SERVER_PORT="porta del server express"
SERVER_URL="inidizzo del server express"


DB_HOSTNAME=localhost
DB_PORT="porta dove é aperta l'istanza del tuo DB"
DB_USERNAME="username dell'istanza"
DB_PASSWORD="password dell'istanza"
DB_DATABASE="nome dello schema dell'istanza"

ANTHROPIC_API_KEY="chiave API di Claude"


needed:
pnpm install